.my_bodi_for_my_project {
	background-image: url(../image/tilings-hexagons-grayscale.jpg);
	z-index: -1;
	font-family: sans-serif;
}

.standart_knopka{	
    border: none;    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0.7;
}
.standart_knopka:hover{
	opacity: 1;
	transition: opacity 1s;
}
#logout_knopka{	
	position: absolute;
	background-color: #3d3d5c;	
	right: 5px;
	top: 5px;
	color: black;
	
}
.loginbutton{
	background-color: #3d3d5c;
	color: white;
	border: none;    
    padding: 10px 20px;
    border-radius: 8px;
    opacity: 0.9;
}
.loginbutton:hover{
	color: gray;
}
.registerbutton{
	background-color: #3d3d5c;
	color: white;
	border: none;    
    padding: 10px 20px;
    border-radius: 8px;
    opacity: 0.9;
}
.div_login{
	float: left;
}	
.div_register{
	float: right;
}

#register_knopka{	
	background-color: #3d3d5c;	
	right: 5px;
	top: 5px;
	color: white;
	position: absolute;
}
#login_knopka{		
	background-color: #3d3d5c;	
	left: 5px;
	top: 5px;
	color: white;
	position: absolute;
}
.div_for_login{		
	text-align: center;	
	margin-top: 350px;
}
.div_for_register{
	text-align: center;	
	margin-top: 350px;
}
.myinput{	
	border-radius: 5px;
	padding: 4px 0;
	width: 300px;	
}
label {
	font-size: 17px;
	color: black;
}
.tufta{	
	font-size: 30px;
}


.ul_for_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.li_for_navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li_for_navbar a:hover{
    background-color: #111;
}
.li_for_navbar {
    float: left;
    border-right:1px solid #bbb;
}

.li_for_navbar:last-child {
    border-right: none;
}
@media only screen and (max-width: 500px){
	.li_for_navbar  {
		width: 100%;
	}

}

.footer{
	width: 100%;
	height: 50px;	
	opacity: 0.7;	
}
address{
	float: right;
	color: black;
	font-weight: bold;
}
.div1{
	overflow: auto;
}
.div2{	
	width: 25%;
	min-height: 500px;
	float: left;	
}
.div3{	
	width: 50%;
	min-height: 500px;
	float: left;
}
.div4{	
	width: 25%;
	min-height: 500px;
	float: left;
	
}
@media only screen and (max-width: 500px){
	.div2{width: 100%;}
	.div3{width: 100%;}
	.div4{width: 100%;}
}
.comments{
	color: white;
	margin-top: 20px;
}
.comment_writer_name{
	font-style: italic;
	font-weight: bold;
	margin-left: 40px;
		
}
.comment_writer_text{
	margin-left: 20px;
	
}
.add_comment_div{
	margin-top: 100px;
}
.add_comment_input_name{
	width: 100%;
	padding: 5px;
	border-radius: 8px;
}
.add_comment_input_text{
	width: 100%;
	resize: none;
	border-radius: 8px;
}
.add_comment_button{
	border-radius: 5px;
	padding: 4px 2px;
	box-shadow: 2px 2px 2px gray;
}
.edit_comment{
	float: right;
	border-radius: 5px;
}
.delete_comment{
	float: right;
	border-radius: 5px;
}
.edit_input_field{
	width: 100%;
	border-radius: 5px;
	resize: none;	
}
.edit_comment_save_button{
	border-radius: 5px;	
	box-shadow: 2px 2px 2px gray;
	padding: 2px 15px;
}
.viafacebook{
	background-color: blue;
	color: white;
	border: none;    
    padding: 13px 20px;
    border-radius: 8px;
    opacity: 0.9;       
}
.viafacebook:hover{
	text-decoration: none;
}
.viagoogle{
	background-color: #b30000;
	color: white;
	border: none;    
    padding: 13px 20px;
    border-radius: 8px;
    opacity: 0.9;
}
.viagoogle:hover{
	text-decoration: none;
}
.file-upload {
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     overflow: hidden; /* Все что выходит за пределы - скрываем */
     width: 20%; /* Задаем ширину кнопки выбора файла */
     height: 40px;
     background: #6da047;
     border-radius: 8px;
     padding: 8px 4px;
     color: #fff;
     text-align: center;

}
.file-upload:hover {
     background: #7aad55;
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
     /* Растягиваем label на всю возможную площадь блока .file-upload */
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.file-upload span {
     line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}
.filename{
	color: white;
}
#file-upload{
	float: right;
}
#filename{
	float: right;
}
.div_for_user_dates{
	width: 100%;
	text-align: center;	
}
.div_for_user_picture {
	border-radius: 10px;
	max-width: 80%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top:  25px;
	margin-left: 25px;
}

.div_for_user_name {
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
}

.div_for_user_control {    
    margin-top: 20px;
}
.style_for_user_img{
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.a_for_user_control {
    padding: 8px;
    margin-bottom: 7px;
    margin-left: 25px;
    margin-right: 25px;     
    background-color: #333;
    color: white;
    width: 80%;
    display: block;    
}
.a_for_user_control:hover {
    background-color: black;
    text-decoration: none;
}
.div_for_users_all_pics{
	border-radius: 10px;
	max-width: 200px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top:  25px;
	margin-left: 25px;
	float: left;
	position: relative;	
}
.div_for_picture_explain{
	text-align: center;
	padding: 10px 20px;
	font-size: 15px;
}
.div_for_adding_picture_form{
	display: none;
	padding-top: 40px;
	text-align: center;
}
.div_for_adding_picture_input{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.picture_picking_field{
	 color: black;
	 padding: 10px 0;
	 border-radius: 5px;
}
.add_photo_explain_input{
	border-radius: 5px;
	width: 50%;
	margin-bottom: 20px;
}
.div_for_button_for_add_picture{
	text-align: center;
	margin-top: 20px;
}
.div_for_working_with_comments{
	max-width: 50%;
	display: none;	
}
.span_for_user_control{
	padding: 8px;
    margin-bottom: 7px;
    margin-left: 25px;
    margin-right: 25px;     
    background-color: #666666;
    color: white;
    width: 80%;
    display: block;
}
.span_for_user_control:hover {
    background-color: darkgray;
    text-decoration: none;
}